<div class="ui dimmer" [class.active]='loading'>
  <div class="ui text loader">
    Loading ... Data is being retrieved...if this takes too long please refresh the page</div>
  <div *ngIf="!globalData">Failing to retrieve global data...</div>
  <div class="d-inline-flex">
  </div>
</div>

<div class="bg-white text-center p-3 m-0">
  <div class="text-left">Made by Ray Goh. Data obtained from
    <a class="" target="_blank" href="https://github.com/CSSEGISandData">Johns Hopkins School of Engineering. </a>
  </div>
  <!--    <h1 class="display-4">Confirmed Cases</h1>-->

  <div class="row mat-elevation-z8 m-1 m-xl-4">
    <div class="col-lg-2 m-lg-5 mb-sm-0">
      <!--          <div class="text-uppercase"><b>Confirmed Cases</b></div>-->
      <div class="p-4 m-sm-0">
        <label class="country-label">Country Select</label>
        <mat-select [placeholder]="countries[0]" #input (selectionChange)="updateValues(input.value)">
          <mat-option value="{{con}}" *ngFor='let con of countries'>{{con}}</mat-option>
        </mat-select>
      </div>
      <div class="toggle-section d-none d-sm-block">
        <mat-slide-toggle class="" (change)="triggerChartType()">Line Chart</mat-slide-toggle>
      </div>

    </div>
    <div class="col-lg-8 col-md-12 m-0">
      <div *ngIf="!deathsSelected" class="d-sm-block d-none mt-2 chartTitle">Number of Cases in {{selectedCountry}}</div>
      <div *ngIf="deathsSelected" class="d-sm-block d-none mt-2 chartTitle">Number of Deaths in {{selectedCountry}}</div>
      <google-chart [data]="chartInterface"></google-chart>
      <button mat-raised-button class="m-3" [disabled]="!deathsSelected" (click)="triggerSelected()">Confirmed Cases</button>
      <button mat-raised-button class="m-3" [disabled]="deathsSelected" (click)="triggerSelected()">Deaths</button>
      <div class="alert" *ngIf="!globalData">*Failed to retrieve total stats for {{lastUpdated}}</div>
      <app-dashboard-card [totalConfirmed]='totalConfirmed' [totalRecovered]='totalRecovered' [totalDeaths]='totalDeaths' [mortalityRate]="mortalityRate" [lastUpdated]="lastUpdated"></app-dashboard-card>
    </div>
  </div>
</div>
