<nav class="navbar navbar-expand navbar-light bg-light">
  <div class="navbar-brand">Covid-19</div>
  <ul class="navbar-nav ml-auto">
    <!--            <li class="nav-item">-->
    <!--                <a class="nav-link" routerLink='/'>Home</a>-->
    <!--            </li>-->
    <!--            <li class="nav-item">-->
    <!--                <a class="nav-link" routerLink='countries'>Countries</a>-->
    <!--            </li>-->
    <li class="">
      <mat-slide-toggle [disabled]="true">Dark Mode</mat-slide-toggle>
    </li>
  </ul>
</nav>
