<div class="row mt-0 pb-3">
  <div class="col-lg-4 mb-0">
    <mat-card class="col p-3 m-md-3 same-line m-1">
      <span>Confirmed Cases: </span>
      <span class="alert">{{totalConfirmed}}</span>
    </mat-card>
    <mat-card class="col p-3 m-md-3 same-line m-1"><span>-</span>
      <!--      <span class="alert">{{deathRateChange}}</span>-->
    </mat-card>
  </div>
  <div class="col-lg-4">
    <mat-card class="col p-3 m-md-3 same-line m-1"><span>Total Death:</span>
      <span class="alert">{{totalDeaths}}</span>
    </mat-card>
    <mat-card class="col p-3 m-md-3 same-line m-1"><span>Mortality Rate</span>
      <span class="alert">{{mortalityRate}}%</span>
    </mat-card>
  </div>
  <div class="col-lg-4">
    <mat-card class="col p-3 m-md-3 same-line m-1"><span>Recovered: </span>
      <span class="alert">{{totalRecovered}}</span>
    </mat-card>
    <mat-card class="col p-3 m-md-3 same-line m-1"><span>Last Updated: </span>
      <span class="alert">{{lastUpdated}}</span>
    </mat-card>
  </div>
</div>
